h3 {
    text-align: center;
    font-family: Montserrat;
    color: #0D052E;
}

.money {
    text-align: center;
}

.details {
    text-align: center;
}

.background1 {
    background: #FFFFFF;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.background2 {
    background: #FFFFFF;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.background3 {
    background: #FFFFFF;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.orderBtn {
    margin-left: 110px;
    margin-top: 20px;
    background: linear-gradient(to right, #0EBBDB, #2AF598);
    color: #FFFFFF;
    border: none;
}