.money {
    text-align: center;
    font-family: Montserrat;
    color: #0D052E;
    margin-top: 50px;
}

.title {
    text-align: center;
    margin-top: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4FD1CB;
    margin: 1em 0;
    padding: 0;
}

.details {
    text-align: center;
    margin-top: 40px;
    line-height: 1.9;
}

.background1 {
    background: #FFFFFF;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.background2 {
    background: #FFFFFF;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.background3 {
    background: #FFFFFF;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.orderBtn {
    margin-left: 110px;
    margin-top: 20px;
    background: linear-gradient(to right, #2AF598, #0EBBDB);
    border-radius: 30px 0;
    height: 50px;
    width: 150px;
    color: #FFFFFF;
    border: none;
}

.small {
    text-align: center;
    font-family: Montserrat;
    color: #353535;
}

.get {
    margin-top: 120px;
    font-family: Montserrat;
    color: #0D052E
}

#validationDefaultUsername {
    background: #FFFFFF;
    height: 45px;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
   
}



.no-outline:focus {
    outline: none;
}

#search {
    margin-left: 340px;
    margin-top: 50px;
}

.btn {
    height: 40px;
    border: none;
    width: 110px;
    margin-left: 520px;
    font-family: Montserrat;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to right, #2AF598, #0EBBDB);
}

.footer {
    margin-top: 120px;
}

.logo {
    height: 100px
}

#socialSite {
    margin-top: 20px;
}

.background1:hover {
    border: 3px solid #3CEDCE;
}

.background2:hover {
    border: 3px solid #3CEDCE;
}

.background3:hover {
    border: 3px solid #3CEDCE;
}

.input-group-prepend {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}